<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="StockTrackingDBContext" 
			 connectionString="Data Source=DESKTOP-3D47NNN\SQLEXPRESS;Initial Catalog=StockTrackingDb;Integrated Security=True;TrustServerCertificate=True" 
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="log4net.Config" value="log4net.config"/>
		<add key="log4net.Config.Watch" value="false"/>
	</appSettings>
</configuration>